# Using the Yelp API (Practice)

For this assignment, you will practice with the Yelp API and the concept of pagination.

- Use your API credentials to access the Yelp API
- You can choose the location and search term (food), but it must return more than 20 results so you can practice pagination!
- Obtain ONLY the first two pages of results
- Concatenate the results into one data frame
- Save the businesses as a records-oriented JSON file with an informative filename. (df.to_json("yelp-search-new-york-pizza.json", orient='records'))

In [1]:
from yelpapi import YelpAPI
import json
import pandas as pd

In [3]:
# students must use their own username here instead of "brend"
with open('/Users/codingdojo/.secret/yelp_api.json') as f:
    login = json.load(f)
login.keys()

dict_keys(['client-id', 'api-key'])

In [4]:
yelp_api = YelpAPI(login['api-key'], timeout_s=5.0)
yelp_api

Students can choose any city and food for this task as long as it is more than 20 businesses long to show how pagination works

In [6]:
results = yelp_api.search_query(location='Greenville, SC',
                                       term='Sushi')
type(results)
results.keys()

dict_keys(['businesses', 'total', 'region'])

In [7]:
sushi0 = pd.DataFrame(sushi_0['businesses'])
sushi0.head(2)

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,location,phone,display_phone,distance,price
0,RGRk1ioORwm_FIX8PM732Q,konnichiwa-greenville,Konnichiwa,https://s3-media3.fl.yelpcdn.com/bphoto/p47H0_...,False,https://www.yelp.com/biz/konnichiwa-greenville...,57,"[{'alias': 'sushi', 'title': 'Sushi Bars'}, {'...",4.0,"{'latitude': 34.845952342825115, 'longitude': ...",[],"{'address1': '101 Falls Park Dr', 'address2': ...",+18642524436,(864) 252-4436,4108.206391,NaN
1,2jXS4oZkMhAONtd2j7L5Yg,chef-21-sushi-burger-and-korean-bbq-greenville,Chef 21 Sushi Burger & Korean BBQ,https://s3-media3.fl.yelpcdn.com/bphoto/DRC19Q...,False,https://www.yelp.com/biz/chef-21-sushi-burger-...,11,"[{'alias': 'korean', 'title': 'Korean'}, {'ali...",4.5,"{'latitude': 34.84775563800962, 'longitude': -...",[],"{'address1': '500 E McBee Ave', 'address2': 'S...",+18642633018,(864) 263-3018,3419.093689,NaN

In [8]:
sushi_0['total']

107

Students are only asked to do the first two pages. Notice the offset in the code below is set to 20

In [9]:
# 92 will require 5 pages
# The assignment only asks for two pages
sushi_20 = yelp_api.search_query(location='Greenville, SC',
                                       term='sushi',
                               offset = 20)

In [10]:
sushi20 = pd.DataFrame(sushi_20['businesses'])
sushi20.head(2)

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,0NNl-TjwwDkRl0oAZK4p3A,sushi-asa-greenville,Sushi Asa,https://s3-media1.fl.yelpcdn.com/bphoto/xEYZ7_...,False,https://www.yelp.com/biz/sushi-asa-greenville?...,140,"[{'alias': 'sushi', 'title': 'Sushi Bars'}]",4.0,"{'latitude': 34.8171189, 'longitude': -82.2755...","[delivery, pickup]",$$,"{'address1': '150 Tanner Rd', 'address2': None...",+18642885259,(864) 288-5259,8150.554706
1,HlMRxvnD7jC6uMUYZCsDCg,tsunami-japanese-sushi-bar-and-grill-greenville,Tsunami Japanese Sushi Bar and Grill,https://s3-media1.fl.yelpcdn.com/bphoto/w5Q5tO...,False,https://www.yelp.com/biz/tsunami-japanese-sush...,133,"[{'alias': 'japanese', 'title': 'Japanese'}, {...",3.5,"{'latitude': 34.85197, 'longitude': -82.39704}","[delivery, pickup]",$$,"{'address1': '106 E North St', 'address2': '',...",+18644671055,(864) 467-1055,3879.396696

In [11]:
#now concatenate all pages
all_sushi = pd.concat([sushi0, sushi20],
                      ignore_index=True)
display(all_sushi.head(3), all_sushi.tail(3))

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,location,phone,display_phone,distance,price
0,RGRk1ioORwm_FIX8PM732Q,konnichiwa-greenville,Konnichiwa,https://s3-media3.fl.yelpcdn.com/bphoto/p47H0_...,False,https://www.yelp.com/biz/konnichiwa-greenville...,57,"[{'alias': 'sushi', 'title': 'Sushi Bars'}, {'...",4.0,"{'latitude': 34.845952342825115, 'longitude': ...",[],"{'address1': '101 Falls Park Dr', 'address2': ...",+18642524436,(864) 252-4436,4108.206391,NaN
1,2jXS4oZkMhAONtd2j7L5Yg,chef-21-sushi-burger-and-korean-bbq-greenville,Chef 21 Sushi Burger & Korean BBQ,https://s3-media3.fl.yelpcdn.com/bphoto/DRC19Q...,False,https://www.yelp.com/biz/chef-21-sushi-burger-...,11,"[{'alias': 'korean', 'title': 'Korean'}, {'ali...",4.5,"{'latitude': 34.84775563800962, 'longitude': -...",[],"{'address1': '500 E McBee Ave', 'address2': 'S...",+18642633018,(864) 263-3018,3419.093689,NaN
2,babpQQHQSGjVxS1Li7Q2lA,otto-izakaya-downtown-greenville,Otto Izakaya - Downtown,https://s3-media1.fl.yelpcdn.com/bphoto/wkiY2M...,False,https://www.yelp.com/biz/otto-izakaya-downtown...,166,"[{'alias': 'izakaya', 'title': 'Izakaya'}, {'a...",4.0,"{'latitude': 34.84428, 'longitude': -82.406}","[delivery, restaurant_reservation]","{'address1': '802 S Main St', 'address2': '', ...",+18645685880,(864) 568-5880,4269.838700,$$

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,location,phone,display_phone,distance,price
37,sQsiNhUVhsH23jkAVo7DTA,the-orient-on-main-greenville,The Orient on Main,https://s3-media2.fl.yelpcdn.com/bphoto/D9GiV3...,False,https://www.yelp.com/biz/the-orient-on-main-gr...,105,"[{'alias': 'japanese', 'title': 'Japanese'}, {...",3.5,"{'latitude': 34.8505831538167, 'longitude': -8...","[delivery, pickup]","{'address1': '4 S Main St', 'address2': '', 'a...",+18647876241,(864) 787-6241,3969.854159,$$
38,fjpQXddk1h5vGtS9kLjoJg,red-bowl-greenville-greenville,Red Bowl - Greenville,https://s3-media1.fl.yelpcdn.com/bphoto/Y6YbbE...,False,https://www.yelp.com/biz/red-bowl-greenville-g...,143,"[{'alias': 'japanese', 'title': 'Japanese'}, {...",3.0,"{'latitude': 34.841634, 'longitude': -82.3633539}",[delivery],"{'address1': '27 S Pleasantburg Dr', 'address2...",+18642717977,(864) 271-7977,929.429061,$$
39,mq6PUElN3s0ZzyaRiem04g,miyoko-japanese-steakhouse-travelers-rest-2,Miyoko Japanese Steakhouse,https://s3-media4.fl.yelpcdn.com/bphoto/IrQ_Bz...,False,https://www.yelp.com/biz/miyoko-japanese-steak...,17,"[{'alias': 'japanese', 'title': 'Japanese'}, {...",3.5,"{'latitude': 34.96322, 'longitude': -82.43067}",[delivery],"{'address1': '2 Benton Rd', 'address2': None, ...",+18646106110,(864) 610-6110,15767.722784,NaN

The final dataframe should have 40 entries

In [13]:
# save the results to records-style json file with appropriate name
all_sushi.to_json("Data/yelp-search-sushi-greenville.json", orient='records')